<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-button  color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="notifications-circle-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar mode="ios" placeholder="Search here" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-text *ngIf="orders.length == 0" color="primary" class="ion-text-center">
    <h1>
      No Orders Found!
    </h1>
  </ion-text>
 <ion-list class="ion-padding">
  <ion-list-header>
    <ion-label>Orders Below</ion-label>
    <ion-select style="width: 200px; --height:40px;" value="All" fill="outline"  interface="popover" placeholder="Select Status" (ionChange)="filterEvent($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="0">New Order</ion-select-option>
      <ion-select-option value="5">Rejected</ion-select-option>
      <ion-select-option value="2">Delivery Boy Assigned</ion-select-option>
      <ion-select-option value="4">On the Way</ion-select-option>
      <ion-select-option value="3">Delivered</ion-select-option>
    </ion-select>
 

  <ion-input  style="width: 200px;  --height:40px;" type="date" label="Start Date" labelPlacement="stacked" fill="outline" (ionChange)="setDateEvent($event, 's')" placeholder="Awesome Input"></ion-input>
  <ion-input style="width: 200px;  --height:40px;" type="date" label="End Date" labelPlacement="stacked" fill="outline" (ionChange)="setDateEvent($event, 'e')" placeholder="Awesome Input"></ion-input>
  </ion-list-header>
 </ion-list>



  <div class="table-responsive" *ngIf="orders.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Date</th>
          <th scope="col">Customer name</th>
          <th scope="col">Address</th>
          <th scope="col">Amount</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders">
          <th>{{item.orderId}}</th>
          <th>{{item.createdAt | date:"fullDate"}}</th>
          <th>{{item?.user?.name}}</th>
          <th>{{item?.userAddress?.address}}</th>
          <th>{{item?.priceDetails?.totalAmountToPay | currency:"INR"}}</th>
          <th>
            <ion-badge class="ion-padding" color="danger" mode="ios" (click)="openDetailsPage(item._id)">View</ion-badge>
            <ion-badge *ngIf="item?.orderStatus === 4" class="ion-padding" color="success" mode="ios" (click)="presentActionSheet(item._id)">Accept Order</ion-badge>
           
              <ion-select (ionChange)="assignDriverEvent($event, item._id)" *ngIf="item?.orderStatus === 4" fill="outline"  multiple="true" placeholder="Select Driver">
                <ion-select-option *ngFor="let d of drivers" [value]="d._id">{{d.firstName}} {{d.lastName}}</ion-select-option>
              </ion-select>
          
          </th>
          <th>
          <ion-badge *ngIf="item?.orderStatus === 0" class="ion-padding" color="primary" mode="ios">New</ion-badge>
          <ion-badge *ngIf="item?.orderStatus === 3" class="ion-padding" color="success" mode="ios">Delivered</ion-badge>
          <ion-badge *ngIf="item?.orderStatus === 2" class="ion-padding" color="tertiary" mode="ios">Delivery Assigned</ion-badge>
          <ion-badge *ngIf="item?.orderStatus === 5" class="ion-padding" color="danger" mode="ios">Rejected</ion-badge>
          <ion-badge *ngIf="item?.orderStatus === 4" class="ion-padding" color="warning" mode="ios">On the way</ion-badge>

          </th>
        </tr>
      </tbody>
    </table>
  </div>
  
  
</ion-content>
