<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Partners</ion-title>
    <ion-button  color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="notifications-circle-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
  <ion-searchbar mode="ios" placeholder="Search here" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-item lines="none">
          <ion-label>Partners
            <p>Your partenrs here</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="openPartnerRegisterPage()" expand="block" >
         Add new Partner
        </ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid>


  <ion-segment value="0" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="0">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Blocked</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="table-responsive">
    <div class="card shadow-sm mb-4">
      <div class="card-header d-flex justify-content-between align-items-center bg-light">
        <h5 class="mb-0">👨‍🍳 Partner List</h5>
        <i class="bi bi-people-fill text-secondary fs-5"></i>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-hover table-bordered mb-0">
            <thead class="table-secondary">
              <tr>
                <th>Date</th>
                <th>Partner Name</th>
                <th>Restaurant Name</th>
                <th>Phone No</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of partner">
                <td>{{ item.createdAt | date: 'shortDate' }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item?.hotels[0]?.hotelName || 'N/A' }}</td>
                <td>{{ item.phoneNumber }}</td>
                <td>{{ item.email }}</td>
                <td>
                  <div class="d-flex flex-wrap align-items-center gap-2 gap-md-3 p-2">
                    <ion-badge class="btn btn-sm mx-2" color="secondary" mode="ios" (click)="openViewPage(item._id)">
                      View
                    </ion-badge>
                  
                    <ion-badge class="btn btn-sm mx-2" color="danger" mode="ios" (click)="presentAlertConfirmForDelete(item._id, item.hotels._id)">
                      Delete
                    </ion-badge>
                  
                    <ng-container *ngIf="item?.hotels.length !== 0; else addHotel">
                      <ion-badge class="btn btn-sm mx-2" color="warning" mode="ios" [id]="'hover-trigger-' + item._id">
                        Dish
                      </ion-badge>
                  
                      <ion-popover [trigger]="'hover-trigger-' + item._id" triggerAction="click">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <ion-list>
                              <ion-item lines="full" (click)="openDishViewPage(item?.hotels[0]?._id)">
                                <ion-label>View</ion-label>
                              </ion-item>
                              <ion-item lines="full" (click)="openAddDishPage(item?.hotels[0]?._id)">
                                <ion-label>Add</ion-label>
                              </ion-item>
                            </ion-list>
                          </ion-content>
                        </ng-template>
                      </ion-popover>
                    </ng-container>
                  
                    <ng-template #addHotel>
                      <ion-badge class="btn btn-sm mx-2" color="primary" mode="ios" (click)="openLocationPage(item._id)">
                        Add Hotel
                      </ion-badge>
                    </ng-template>
                  
                    <div class="ms-md-3 mt-2 mt-md-0">
                      <ion-toggle
                        slot="end"
                        [enableOnOffLabels]="true"
                        (ionChange)="openhotel(item?.hotels[0])"
                        [checked]="item?.hotels[0]?.isOnline === true"
                      ></ion-toggle>
                    </div>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ion-text *ngIf="partner.length === 0" color="primary" class="ion-text-center">
      <h1>No Partners Found!</h1>
    </ion-text>
  </div>
</ion-content>
