<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Customers</ion-title>
    <ion-button  color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="notifications-circle-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar mode="ios" placeholder="Search here" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-text *ngIf="users.length == 0" color="primary" class="ion-text-center">
    <h1>
      No Users Found!
    </h1>
  </ion-text>
  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>Users
            <p>Your users here</p>
          </ion-label>
        </ion-item>
      </ion-col>

    
      <ion-col size="6" >
        <div class="container">
          <ion-item lines="none">
            <ion-select value="All" fill="outline"  interface="popover" placeholder="Select Status" (ionChange)="filterEvent($event)">
              <ion-select-option value="true">Online</ion-select-option>
              <ion-select-option value="false">Offline</ion-select-option>

            </ion-select>
          </ion-item>
         
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="table-responsive" *ngIf="users.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Customer name</th>
          <th scope="col">Phone no</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <th>{{item.createdAt | date:"fullDate"}}</th>
          <th>{{item?.name}}</th>
          <th>{{item?.phoneNumber}}</th>
          <th>{{item?.userAddresses?.[0]?.address || "No Address Added"}}</th>
          <th>
            <ion-badge class="ion-padding" color="danger" mode="ios">View</ion-badge>
          </th>
          <th>
          <ion-badge *ngIf="item?.isOnline === true" class="ion-padding" color="danger" mode="ios">Online</ion-badge>
          <ion-badge *ngIf="item?.isOnline === false" class="ion-padding" color="danger" mode="ios">Offline</ion-badge>


          </th>
        </tr>
      </tbody>
    </table>
  </div>
  
  
</ion-content>
