<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Delivery Boys</ion-title>
    <ion-button  color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="notifications-circle-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" (click)="viewNotifications()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar mode="ios" placeholder="Search here" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="false">
 
  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-item lines="none">
          <ion-label>Delivery Boy
            <p>Your delivery boys here</p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="3">
        <ion-button (click)="openDriverRegisterPage()" expand="block" fill="solid">
         Add Boy
        </ion-button>
      </ion-col>
    
      
    </ion-row>
  </ion-grid>

  <ion-text *ngIf="boys.length === 0" color="primary" class="ion-text-center">
    <h1>
      No Delivery Boys Found!
    </h1>
  </ion-text>
  <div class="table-container" *ngIf="boys.length > 0">
    <table class="modern-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Full Name</th>
          <th>Phone No</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of boys">
          <td>{{item.createdAt | date:"fullDate"}}</td>
          <td>{{item?.firstName || "No Name Added"}} {{item?.lastName}}</td>
          <td>{{item?.phoneNumber}}</td>
          <td>{{item?.address || "No Address Added"}}</td>
          <td class="action-buttons">
            <ion-badge color="secondary" mode="ios" class="action-badge" (click)="viewBoy(item._id)">View</ion-badge>
            <ion-badge *ngIf="item.status === 0" (click)="block(item._id)" color="success" mode="ios" class="action-badge">Block</ion-badge>
            <ion-badge *ngIf="item.status === 1" (click)="unblock(item._id)" color="tertiary" mode="ios" class="action-badge">Unblock</ion-badge>
            <ion-badge (click)="deleteBoy(item._id)" color="danger" mode="ios" class="action-badge">Delete</ion-badge>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <style>
  
  </style>
  
  
</ion-content>
